<!DOCTYPE HTML>
<html>
<head>
  <title>Form is Emptiness</title>
</head>
<body>
<div id="wrap">
    <div class="leftPanel">
      Form is emptiness
    </div>
    <div class="rightPanel">
      Emptiness is form
    </div>
    <div style="clear: both;">
</div>
</body>
</html>