<!DOCTYPE HTML>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<title>Coding Zendo</title>
</head>
<body>
<div id="wrap">
    <div class="leftPanel">
      <div id="formText">
      	<span id="fo1">Fo</span><span id="rm1">rm</span> 
      	<span id="is1"> is</span> 
      	<span id="empti1"> empti</span><span id="ness1">ness</span> 
      </div>
      <div class="bulls"></div>
    </div>
    <div class="rightPanel">
      <div id="emptinessText">
		<span id="empti2">Empti</span><span id="ness2">ness</span> 
      	<span id="is2"> is</span> 
      	<span id="fo2"> fo</span><span id="rm2">rm</span> 
      </div>
      <div class="bullsText">
      	
      	<div class="textItems" id="text01">
      		<h3>1. The Search for the Bull</h3>

			<p>In the pasture of this world, I endlessly push aside the tall grasses in search of the bull. Following unnamed rivers, lost upon the interpenetrating paths of distant mountains, My strength failing and my vitality exhausted, I cannot find the bull. I only hear the locusts chirring through the forest at night</p>

			<p>Comment: The bull never has been lost. What need is there to search? Only because of separation from my true nature, I fail to find him. In the confusion of the senses I lose even his tracks. Far from home, I see many cross-roads, but which way is the right one I know not. Greed and fear, good and bad, entangle me.</p>
		</div>

      	<div class="textItems" id="text02">
      		<h3>2. Discovering the Footprints</h3>

			<p>Along the riverbank under the trees, I discover footprints! Even under the fragrant grass I see his prints. Deep in remote mountains they are found. These traces no more can be hidden than one's nose, looking heavenward.</p>

			<p>Comment: Understanding the teaching, I see the footprints of the bull. Then I learn that, just as many utensils are made from one metal, so too are myriad entities made of the fabric of self. Unless I discriminate, how will I perceive the true from the untrue? Not yet having entered the gate, nevertheless I have discerned the path.</p>
		</div>

      	<div class="textItems" id="text03">
      		<h3>3. Perceiving the Bull</h3>

			<p>I hear the song of the nightingale. The sun is warm, the wind is mild, willows are green along the shore,
			Here no bull can hide! What artist can draw that massive head, those majestic horns?</p>

			<p>Comment: When one hears the voice, one can sense its source. As soon as the six senses merge, the gate is entered. Wherever one enters one sees the head of the bull! This unity is like salt in water, like colour in dyestuff. The slightest thing is not apart from self.<p>
		</div>

      	<div class="textItems" id="text04">
      		<h3>4. Catching the Bull</h3>

			<p>I seize him with a terrific struggle. His great will and power are inexhaustible. He charges to the high plateau far above the cloud-mists, Or in an impenetrable ravine he stands.</p>

			<p>Comment: He dwelt in the forest a long time, but I caught him today! Infatuation for scenery interferes with his direction. Longing for sweeter grass, he wanders away. His mind still is stubborn and unbridled. If I wish him to submit, I must raise my whip.</p>
		</div>

      	<div class="textItems" id="text05">
      		<h3>5. Taming the Bull</h3>

			<p>The whip and rope are necessary, Else he might stray off down some dusty road. Being well trained, he becomes naturally gentle. Then, unfettered, he obeys his master.</p>

			<p>Comment: When one thought arises, another thought follows. When the first thought springs from enlightenment, all subsequent thoughts are true. Through delusion, one makes everything untrue. Delusion is not caused by objectivity; it is the result of subjectivity. Hold the nose-ring tight and do not allow even a doubt.</p>
		</div>

      	<div class="textItems" id="text06">
      		<h3>6. Riding the Bull Home</h3>

			<p>Mounting the bull, slowly I return homeward. The voice of my flute intones through the evening. Measuring with hand-beats the pulsating harmony,
			I direct the endless rhythm. Whoever hears this melody will join me.</p>

			<p>Comment: This struggle is over; gain and loss are assimilated. I sing the song of the village woodsman, and play the tunes of the children. Astride the bull, I observe the clouds above. Onward I go, no matter who may wish to call me back.</p>
		</div>

      	<div class="textItems" id="text07">
      		<h3>7. The Bull Transcended</h3>

			<p>Astride the bull, I reach home. I am serene. The bull too can rest. The dawn has come. In blissful repose,
			Within my thatched dwelling I have abandoned the whip and rope.</p>

			<p>Comment: All is one law, not two. We only make the bull a temporary subject. It is as the relation of rabbit and trap, of fish and net. It is as gold and dross, or the moon emerging from a cloud. One path of clear light travels on throughout endless time.</p>
		</div>

      	<div class="textItems" id="text08">
      		<h3>8. Both Bull and Self Transcended></h3>

			<p>Whip, rope, person, and bull -- all merge in No-Thing. This heaven is so vast no message can stain it. How may a snowflake exist in a raging fire?
			Here are the footprints of the patriarchs.</p>

			<p>Comment: Mediocrity is gone. Mind is clear of limitation. I seek no state of enlightenment.
			Neither do I remain where no enlightenment exists. Since I linger in neither condition, eyes cannot see me. If hundreds of birds strew my path with flowers, such praise would be meaningless.</p>
		</div>

      	<div class="textItems" id="text09">
      		<h3>9. Reaching the Source</h3>

			<p>Too many steps have been taken returning to the root and the source. Better to have been blind and deaf from the beginning! Dwelling in one's true abode, unconcerned with that without -- The river flows tranquilly on and the flowers are red.</p>

			<p>Comment: From the beginning, truth is clear. Poised in silence, I observe the forms of integration and disintegration. One who is not attached to "form" need not be "reformed." The water is emerald, the mountain is indigo, and I see that which is creating and that which is destroying.</p>
		</div>

      	<div class="textItems" id="text10">
      		<h3>10. In the World</h3>

			<p>Barefooted and naked of breast, I mingle with the people of the world. My clothes are ragged and dust-laden, and I am ever blissful. I use no magic to extend my life; Now, before me, the dead trees become alive.</p>

			<p>Comment: Inside my gate, a thousand sages do not know me. The beauty of my garden is invisible. Why should one search for the footprints of the patriarchs? I go to the market place with my wine bottle and return home with my staff. I visit the wineshop and the market, and everyone I look upon becomes enlightened.</p>
		</div>
      </div>
    </div>
    <div style="clear: both;">
</div>
</body>
</html>