<!DOCTYPE HTML>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    	// var text = $('#formText').text();
    	// text = text.split("");
    	// alert(text);
    	// for(var i=0;i<text.length;i++){
    	// 	$('#formText').append("<div> ").append(text[i]).append("</div>");
    	// }
    	// $('#formText').append("<div style='background-color:red;'>Emptiness is form.</div>");

    	$("#fo1").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull01");
    	});
    	$("#rm1").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull02");
    	});
    	$("#is1").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull03");
    	});
    	$("#empti1").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull04");
    	});
    	$("#ness1").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull05");
    	});
    	$("#empti2").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull06");
    	});
    	$("#ness2").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull07");
    	});
    	$("#is2").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull08");
    	});
    	$("#fo2").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull09");
    	});
    	$("#rm2").click(function(){
    		$(".bulls").removeClass().addClass("bulls");
    		$(".bulls").addClass("bull10");
    	});
    });
</script>
  <title>Coding Zendo</title>
</head>
<body>
<div id="wrap">
    <div class="leftPanel">
      <div id="formText">
      	<span id="fo1">Fo</span><span id="rm1">rm</span> 
      	<span id="is1"> is</span> 
      	<span id="empti1"> empti</span><span id="ness1">ness</span> 
      </div>
      <div class="bulls"></div>
    </div>
    <div class="rightPanel">
      <div id="emptinessText">
		<span id="empti2">Empti</span><span id="ness2">ness</span> 
      	<span id="is2"> is</span> 
      	<span id="fo2"> fo</span><span id="rm2">rm</span> 
      </div>
    </div>
    <div style="clear: both;">
</div>
</body>
</html>