// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body,#wrap {
    height: 100%;
}

#wrap {
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 55px;
    font-weight: bold;
    height:100%;
}

.leftPanel {
    float:left; 
    width: 50%;
    background-color: white;
    text-align:right;
    padding-top:80px;
    height: 100%;
}

.rightPanel {
    float: right;
    background-color: black;
    color:white;
    height: 100%;
    width: 50%;
    padding-top:100px;
}

.bulls{
    height:218px;
    background: url("10bulls.png");
    background-repeat: no-repeat;
    background-position: 0px 234px;
    margin: 50px 0 0 428px;
    text-align: right;
}

@media only screen and (max-device-width: 480px) {
    .bulls{
        margin:50px 0 0 320px !important;    
    }
}

.bullsText{
    height:418px;
    margin: 70px 10px 0 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 18px;
    font-weight:normal;
}

.bullsText .comment{
    font-size: 16px !important;
}

.bullsText .quote{
    font-style: italic !important;
}

.textItems{
    display:none;
}

.bull01{
    background-position: 0px 0px;
}

.bull02{
    background-position: 0px -234px;
}

.bull03{
    background-position: 0px -468px;
}

.bull04{
    background-position: 0px -702px;    
}

.bull05{
    background-position: 0px -936px;    
}

.bull06{
    background-position: 0px -1159px;
}

.bulls.bull07{
    background-position: 0px -1393px;    
}

.bull08{
    background-position: 0px -1627px;    
}

.bull09{
    background-position: 0px -1861px;
}

.bull10{
    background-position: 0px -2095px;    
}